*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.tittle{
    display: flex;
    justify-content: center;
}
.tittle div{
    margin-top: 70px;
}
.tittle h1:hover{
    color: gray;
    transform: scale(1.1);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.coomand-list .row .col-6{
    width: 45%;
}
.coomand-list .row .col-6 ul{
    list-style-type: none;
    
   
}
.coomand-list .row .col-6 ul li{
    height: 100px;
    width: 100%;
    background-color: #22226c;
    margin-top: 50px;
    border: 5px solid gray;
    border-radius: 25px;
 
}
h2{
    color: white;
    font-size: 42px;
}
.coomand-list .row .col-6-right ul li{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.coomand-list .row .col-6-left ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.coomand-list .row .col-6-left ul li h2{
  margin-left: 100px;
}
.coomand-list .row .col-6-right ul li h2{
    margin-right: 100px;
  }
  .coomand-list .row .col-6-left ul li i{
    margin-left: 25px;
  }
  .coomand-list .row .col-6-right ul li i{
    margin-right: 25px;
  }


  .coomand-list .row .col-6 ul li:hover{
    background-color: black;
    transform: scale(1.1);
    cursor: grab;
  }
  .Balance-none ul li{
    border-radius: 25px;
    border: 5px solid grey;
    height: 100px;
    background-color: black;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Balance-none ul{
    width: 70%;
    list-style-type: none;
    margin: auto;
}
.Balance-none ul li h1{
    color: white;
}
.Balance-none ul li i{
    color: white;
}
.Balance-none ul li:hover{
    transform: scale(1.1);
    
}
.Deposit-none .input label{
    width: 250px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 60px;
}
.Deposit-none .input input{
    width: 360px;
    height: 50px;
  
}
.Deposit-none .input .confirm{
    border-radius: 16px;
    border: 3px solid black;
}
.Deposit-none .input #quantity{
    width: 420px;
    
}
.Deposit-none{
   margin-top: 320px;
}



   
 
   


    
    
  